.container {
    padding: 20px 15px;
}

h1 {
    font-size: 18px;
    padding: 0 20px;
    text-align: center;
}

.container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.container-label {
    /* width: 70px; */
}

.container-topic {
    width: 100%;
    text-align: center;
    margin: 5px 0;
}
