.container {
    padding: 20px 15px;
}

h1 {
    font-size: 18px;
    padding: 0 20px;
    text-align: center;
}

.container-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
    font-size: 14px;
}

.topic-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topic-box {
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

.container-label {
    width: 80px;
    text-align: right;
}

.container-describe {
    flex: 1;
    text-align: center;
}

.container-topic {
    width: 100%;
    text-align: left;
    /* padding: 0 0 0 16px; */
    margin: 5px 0;
}

.topic-content {
    position: relative;
    width: 100%;
    /* text-align: left; */
    /* display: flex; */
    padding: 0 50px 0 16px;
    margin: 5px 0;
}

.liexi {
    font-size: 12px;
}

.icon-box {
    position: absolute;
    /* top: 0;
    right: 0; */
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 22px;
    /* width: 100px; */
}

.download-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
